body { 
  background-color: #F3F3F3; 
}
.firstplot {
  background-color: #ffffff; padding:20px;
  
}
#home_hist {
  margin-bottom: 70px; 
  margin-top: -20px;
}
.forecast-bttn {
  padding-top: 65px;
}
.box {
  background-color: #F3F3F3;
}
.info-box-text {
  font-size: 17px;
}

.well {
  background-color: #ffffff;
}
.item.active {
  color:#339989; 
  background-color:#339989 !important;
}
#moving_av_button_country {
  color:#FEFCFD; 
  background-color:#1e5c52!important;
}
.btn.btn-default.action-button.btn.btn-sm.btn-primary.shiny-bound-input {
  color:#FEFCFD; 
  background-color:#2B2C28!important;
}
#forecast_button > button {
  color:#FEFCFD; 
  background-color:#1e5c52!important;
}
#forecast_button4 > button {
  color:#FEFCFD; 
  background-color:#1e5c52!important;
}
#remove_forecast_button4 > button {
  color:#FEFCFD; 
  background-color:#1e5c52!important;
}
#forecast_button3 > button {
  color:#FEFCFD; 
  background-color:#1e5c52!important;
}
#remove_forecast_button3 > button {
  color:#FEFCFD; 
  background-color:#1e5c52!important;
}
#world_map {
  height: calc(100vh - 160px) !important;
}
.input-row { 
  background-color: #FEFCFD; 
  padding:3px; border-radius: 5px; 
}
.lead {
  padding:5px; font-family: Arial; font-size: 18px; color:#FFFAFB}
.info-box {border-radius: 5px; }
.info-box-icon.bg-light-blue{border-radius: 5px 0 0 5px ;}
.shiny-html-output col-sm-4 shiny-bound-output{width:100%;border-radius: 5px; }
.data { background-color: #FFFAFB; }
.small-box.bg-red { background-color: #1e5c52 !important; border-radius: 8px; }
.small-box.bg-green { background-color: #339989 !important; border-radius: 8px; }
.small-box.bg-light-blue { background-color: #7DE2D1 !important; border-radius: 8px; }
.info-box-icon.bg-light-blue { background-color: #339989 !important;}
.navbar { background-color: #FFFAFB;
      
                           font-family: Copperplate;
                           font-size: 18px;
                           color: #2B2C28;
                           }
      
.plot4 {width: 800px; margin:auto;}
.paginate_button .active >a {background-color:black;}
.dropdown-menu > .active > a {background-color:#7DE2D1 !important;}
.dropdown-menu > .active > a:hover {background-color:#7DE2D1;}
.navbar-default .navbar-nav > li > a {color:#2B2C28;}
.navbar-default .navbar-nav > li > a:hover {color:#7DE2D1; }
.navbar-default .navbar-nav > .active > a:hover {color:#7DE2D1;}    
.navbar-default .navbar-nav > .active > a {color:#339989; background-color: #FFFAFB;}
.navbar-header {text-align: right;}
.active > a:hover {color:red; background-color:red}
.navbar-default .navbar-brand {color: #339989; font-family: Copperplate; font-size: 35px; text-align: center; padding: 8px; margin-left: 20px;}
.homeplot_d { border-radius: 8px;  }
.mainplot {border-radius: 8px; }
.btn3 {background-color: #1e5c52 !important; width:100%; color:white; border-radius: 12px;}
.countbpx {background-color: #1e5c52 !important;  color:white; border-radius: 12px; font-size: 20px}
.box11 {border: 3px solid #1e5c52 !important; border-radius: 12px; display: flex; justify-content: center; align-items: center;}
.countryinput {background-color: white; }
.hi {background-color: white!important; border-radius: 0 0 8px 8px;  height: 400px !important;}
.box.box-solid.bg-black {background-color: #339989 !important;border-radius: 8px; }
.blabla {background-color: #339989 !important; margin:10px; padding:10px; height:40px;border-radius: 5px; justify-content: center; align-items: center; text-align:center; }
.blabla2 {background-color: #339989 !important; margin:10px; padding:10px; height:70px;border-radius: 5px; justify-content: center; align-items: center; text-align:center; height:120px; color: white;}
.stolpec {text-align:left; } 
      
      
      
.podatki {margin:10px; padding:10px; height:70px;border-radius: 5px; justify-content: center; align-items: center; text-align:center;}
#italy > .col-sm-4 > .small-box.bg-yellow > .inner > h3 {font-size: 18px;}
#italy > .col-sm-4 > .small-box.bg-blue > .inner > h3 {font-size: 18px;}
#italy > .col-sm-4 > .small-box.bg-navy > .inner > h3 {font-size: 18px;}
      
#italy > .col-sm-4 > .small-box.bg-yellow > .icon-large > .fas.fa-virus-covid {font-size: 40px; color: #1e5c52 !important; opacity: 0.3;}
#italy > .col-sm-4 > .small-box.bg-blue > .icon-large > .fas.fa-virus-covid {font-size: 40px; color: #339989 !important; opacity: 0.3;}
#italy > .col-sm-4 > .small-box.bg-navy > .icon-large > .fas.fa-virus-covid {font-size: 40px; color: #7DE2D1 !important; opacity: 0.3;}
.box-body.hi.countbox {color: #2B2C28; font-size: 16px; font-weight: bold;}
.box-title {color: white; font-size: 20px; font-weight: bold;}
.small-box.bg-yellow { height: 72px; color: #1e5c52 !important; border-radius: 8px; background-color: #ffffff !important; font-weight: bold !important;}
.small-box.bg-blue {height: 72px; color: #339989 !important; border-radius: 8px; background-color: #ffffff !important; font-weight: bold !important;}
.small-box.bg-navy { height: 72px; color: #7DE2D1 !important; border-radius: 8px; background-color: #ffffff !important; font-weight: bold !important;}
.legend {margin: 50px;}